center h1{
    color: white;
    text-decoration: underline;
    font-size: 48px;
}
center img{
    height: 250px;
    width: 250px;
    border-radius: 360px;
}
center p{
    width: 764px;
    left: 338px;
    top: 1176px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    text-align: center;

    color: #FFFFFF;
}
.socmed{
    border-radius: 0px;
    height: 100px;
    width: 100px;
}