<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Space - Top Up Mobile Legends</title>
    <link rel="stylesheet" href="assets/css/style_for-all.css">
    <link rel="stylesheet" href="assets/css/style_for_topup_ml.css">
    <script src="javascript_for_all.js"></script>
    <script src="angular-1.7.5/angular.min.js"></script>
</head>
<body background="assets/img/body_background.jpg">
    <header>
        <img class="wallpaper" src="assets/img/wp-header.svg" alt="">
    </header>
    <nav class="bg-nav">
    <div class="logo">
        &nbsp;&nbsp;&nbsp;
        <img src="assets/img/logo.svg" alt="">
        <img src="assets/img/logo_text.svg" alt="">
    </div>
    <div class="nav-links">
        <a href="index.html" class="nav-home">&nbsp;&nbsp;Home&nbsp;&nbsp;</a>
        <a href="about.html" class="nav-about">&nbsp;&nbsp;About&nbsp;&nbsp;</a>
        <a href="blog.html" class="nav-blog">&nbsp;&nbsp;Blog&nbsp;&nbsp;</a>
        <a href="topup.html" class="nav-topup">&nbsp;&nbsp;Top Up&nbsp;&nbsp;</a>
        <a href="login.html" class="nav-login">&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</a>
    </div>
    </nav>
    <article>
        <br><br>
        <center>
            <div class="container   ">
                <br>
                <h1>Mobile Legends</h1>
                <br><br>
                <form action="" method="post">
                    <div class="user_id">
                        <input required class="input-form" value="" type="text" placeholder="User Id">
                    </div>
                    <br>
                    <div class="grid-form">
                        <div class="grid-item">
                            <label for="154diamonds" class="label">
                                <p>154 Diamonds</p>
                                <input type="checkbox" ng-model="harga" value="15000">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="256diamonds" class="label">
                                <p>256 Diamonds</p>
                                <input type="checkbox" value="50000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="367diamonds" class="label">
                                <p>367 Diamonds</p>
                                <input type="checkbox" value="120000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="503diamonds" class="label">
                                <p>503 Diamonds</p>
                                <input type="checkbox"  value="165000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="774diamonds" class="label">
                                <p>774 Diamonds</p>
                                <input type="checkbox"  value="250000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="1708diamonds" class="label">
                                <p>1708 Diamonds</p>
                                <input type="checkbox" value="550000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="4003diamonds" class="label">
                                <p>4003 Diamonds</p>
                                <input type="checkbox"  value="1300000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="starlight" class="label">
                                <p>Starlight Member</p>
                                <input type="checkbox"  value="165000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="grid-item">
                            <label for="twilight" class="label">
                                <p>Twilight Pass</p>
                                <input type="checkbox"  value="165000" ng-model="harga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-pembayaran">
                        <label for="" style="margin: 0.9%;"> Pilih Metode Pembayaran</label>
                        <table border="0" cellpadding="20">
                            <tr>
                                <th><input type="checkbox" value="gopay"><img src="assets/img/gopay.svg" width="75px" height="30px"></th>
                                <th><input type="checkbox" value="indomaret"><img src="assets/img/indomaret.svg" width="75px" height="30px"></th>
                                <th><input type="checkbox" value="alfamart"><img src="assets/img/alfa.svg" width="75px" height="30px"></th>
                                <th><input type="checkbox" value="mastercard"><img src="assets/img/masterc.svg" width="75px" height="30px"></th>
                            </tr>
                            <tr>
                                <th><input type="checkbox" value="bca"><img src="assets/img/logo-bca.svg" width="75px" height="30px"></th>
                                <th><input type="checkbox" value="bjb"><img src="assets/img/bjb.svg" width="75px" height="30px"></th>
                                <th><input type="checkbox" value="bni"><img src="assets/img/bni.svg" width="75px" height="30px"></th>
                                <th><input type="checkbox" value="bri"><img src="assets/img/bri.svg" width="75px" height="30px"></th>
                            </tr>
                            <tr>
                                <th><input type="checkbox" value="paypal"><img src="assets/img/paypal.svg" width="75px" height="30px"></th>
                                <th><input type="checkbox" value="visa"><img src="assets/img/visa.svg" width="75px" height="30px"></th>
                            </tr>
                        </table>
                        <br><br><br>
                    </div>
                    <button class="btn-form-pay">Pay</button>
                    <button class="btn-form-change" id="myBtn">Batal</button>
                </form>
                <br><br>
            </div>
        </center>
    </article>
    <br><br>
    <footer>
        <div class="copyright">
            <h5 style="text-align: center;">Copyright &copy;2022 | Daffa Yusa Aditama</h5>
        </div>
        <div class="jam-digital">
            <div class="kotak"> 
                <p id="jam"></p> 
            </div> 
            <div>
                <p>:</p>
            </div>
            <div class="kotak"> 
                <p id="menit"></p> 
            </div> 
            <div>
                <p>:</p>
            </div>
            <div class="kotak"> 
                <p id="detik"></p>
            </div>
        </div>
    </footer>
</body>
</html>